<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles_register.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
rel="stylesheet" />
</head>
<body>
    <div class="color">
    <header>
        <div class="logo">
            <a href="/" class="imglogo"><img src="/imagen/logo-mercado-liebre.svg" alt="Aquí va una foto"></a>
            <form action="GET">
                <div class="formulariobuscador">
                    <input type="text" id="buscador" name="buscador" placeholder="Buscar Productos">
                    <a class="lupa" href="/"><i class="fa-sharp fa-solid fa-magnifying-glass"></i></a>
                </div>
            </form>
        <h5 class="compra"><i class="fa-solid fa-hand-holding-dollar"></i> Comprar en cuotas y sin tarjeta de credito</h5>
        </div> 
        <nav class="ul_completa">
            <ul class="ul_nav">
                <li><a href="/ofertas">Ofertas</a></li>
                <li><a href="/tienda-oficial">Tienda oficiales</a></li>
                <li><a href="/vender">Vender</a></li>
                <li><a href="/ayuda">Ayuda</a></li>
            </ul>
            <ul class="ul_nav">
                <li><a href="/register">Crea tu cuenta<i class="fa-regular fa-id-card"></i></a></li>
                <li><a href="/login">Ingresar<i class="fa-solid fa-right-to-bracket"></i></a></li>
                <li><a href="/mis-compras">Mis Compras<i class="fa-solid fa-basket-shopping"></i></a></li>
            </ul>
        </nav>
        <center>
        <div class="burger-menu">
            <i class="fa-solid fa-bars"></i>
            </div>
        </center>
    </header>


    <main>
        <h2>Registrar</h2>
        <center>
            <form action="/" method="get">
                <div class="grupo1">
                <div class="formulario">
                    <label for="nombre">Nombre Y Apellido</label>
                    <input type="text" id="nombre" name="nombre_apellido" required>
                </div>
                <div class="formulario">
                    <label for="nombre">Nombre de Usuario</label>
                    <input type="text" id="nombre" name="nombre_usuario" required>
                </div>
                </div>
                <div class="grupo2">
                <div class="formulario">
                    <label for="contraseña">contraseña</label>
                    <input type="password" id="contraseña" name="password" required>
                </div>
                <div class="formulario">
                    <label for="contraseña">Confirmar contraseña</label>
                    <input type="password" id="contraseña" name="password" required>
                </div>
                </div>
                <div class="formulario">
                    <label for="e-mail">Correo Electronico</label>
                    <input type="email" id="mail" name="e-mail" required>
                </div> 
                <div class="formulario">   
                    <label for="imgusuario">Foto de Usuario</label>          
                    <input type="file" id="foto" name="foto" accept=".jpg, .png">
                </div>
                <div class="formulario">
                    <h5>Fecha de Nacimiento</h5>
                    <input type="date" id="fecha" name="fecha" required>
                </div>
                <div class="formulario">
                    <label for="domicilio">Domicilio</label>
                    <input type="text" id="domicilio" name="domicilio" required>
                </div>
                <div>
                <h5>Perfil De Usuario </h5> 
                <div class="detallesperfil"> 
                <label class="opciones"><input type="radio"
                 name="perfil">&nbsp;Comprador     
                </label>
                <label class="opciones"><input type="radio"
                name="perfil">&nbsp;Vendedor    
                </label>
                </div>
                </div>
                <div>
                <h5>Intereses</h5>
                  <label>
                    <input class="check" type="checkbox"
                    name="intereses" value="interes">Electro
                  </label>
                  <label>
                    <input class="check" type="checkbox"
                    name="intereses" value="interes">Moda
                  </label>
                  <label>
                    <input class="check" type="checkbox"
                    name="intereses" value="interes">Hogar
                  </label>
                  <label>
                    <input class="check" type="checkbox"
                    name="intereses" value="interes">Jugueteria
                  </label>
                  <label>
                    <input class="check" type="checkbox"
                    name="intereses" value="interes">Fitnnes
                  </label>
                </div>
                <div class="grupo3">
                    <div class="detalleboton">
                        <buttom type="submit"></buttom>
                        <input type="submit" id="boton" value="Enviar">
                    </div>
                    <div class="detalleboton">
                        <button type="reset" id="botonD">Borrar</button>
                    </div>
                </div>
            </form>
            </center>
    </main>
    </div>

    <footer>
        <section class="elfooter">
            <section>
                <div class="dibujos_tarjeta"><i class="fa-solid fa-credit-card"></i></div>
                    <h3 class="titulos_tarjeta">Pagá con tarjeta o en efectivo</h3>
                <p class="cuerpos_tarjeta">Con Mercado Liebre Cash, tenés cuotas sin <br>interés con tarjeta o efectivo en puntos de<br>pago. ¡Y siempre es seguro!</p>
            </section>
            <section>
                <div class="dibujos_tarjeta"><i class="fa-solid fa-gift"></i></div>
                    <h3 class="titulos_tarjeta">Envío gratis desde $ 2.500</h3>
                <p class="cuerpos_tarjeta">Solo por estar registrad@ en Mercado Liebre<br> tenés envíos gratis en miles de productos. Es <br>un beneficio de Mercado Puntos.</p>
            </section>
            <section>
                <div class="dibujos_tarjeta"><i class="fa-solid fa-user-shield"></i></div>
                    <h3 class="titulos_tarjeta">Seguridad, de principio a fin</h3>
                <p class="cuerpos_tarjeta">¿No te gusta? ¡Devolvelo! En Mercado Liebre,<br> no hay nada que no puedas hacer, porque estás <br>siempre protegid@.</p>
            </section>
            </section>
            <p>Hecho por Cayo Walter Julian c:</p>
    </footer> 
</body>
</html>